[submodule "Carthage/Checkouts/Monocle"]
	path = Carthage/Checkouts/Monocle
	url = https://github.com/robb/Monocle.git
[submodule "Carthage/Checkouts/MessagePack.swift"]
	path = Carthage/Checkouts/MessagePack.swift
	url = https://github.com/a2/MessagePack.swift.git
[submodule "Carthage/Checkouts/ValueTransformer"]
	path = Carthage/Checkouts/ValueTransformer
	url = https://github.com/felixjendrusch/ValueTransformer.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/Pistachio"]
	path = Carthage/Checkouts/Pistachio
	url = https://github.com/felixjendrusch/Pistachio.git
[submodule "Libraries/SAMTextView"]
	path = Libraries/SAMTextView
	url = https://github.com/soffes/SAMTextView.git
[submodule "Libraries/FXForms"]
	path = Libraries/FXForms
	url = https://github.com/nicklockwood/FXForms.git
[submodule "Libraries/Natalie"]
	path = Libraries/Natalie
	url = https://github.com/krzyzanowskim/Natalie.git
