[submodule "Libraries/SAMTextView"]
	path = Libraries/SAMTextView
	url = https://github.com/soffes/SAMTextView.git
[submodule "Libraries/FXForms"]
	path = Libraries/FXForms
	url = https://github.com/nicklockwood/FXForms.git
[submodule "Libraries/Natalie"]
	path = Libraries/Natalie
	url = https://github.com/krzyzanowskim/Natalie.git
